<?xml version="1.0" encoding="utf-8" ?>
<config>
  <extensionGroups>

    <!-- Misc extensions -->
    <extensionsGroup>
      <name>misc</name>

      <extensions>
        <!-- Startup Logo. Displays logo while jukebox is loading -->
        <extension>
          <name>startupLogo</name>
          <path>Jukebox.Extensions.Misc.StartupLogo.dll</path>
        </extension>

        <!-- Tray Control Center. -->
        <extension>
          <name>trayControlCenter</name>
          <path>Jukebox.Extensions.Interfaces.TrayControlCenter.dll</path>
        </extension>

        <!-- Console. -->
        <extension>
          <name>console</name>
          <path>Jukebox.Extensions.Misc.Console.dll</path>
        </extension>
      </extensions>
    </extensionsGroup>


    <!-- Generic extensions -->
    <extensionsGroup>
      <name>generic</name>

      <extensions>
        <!-- Startup Logo. Displays logo while jukebox is loading -->
        <extension>
          <name>downloadFile</name>
          <path>Jukebox.Extensions.TrackProviders.DownloadFile.dll</path>
        </extension>

        <!-- Vk.Com -->
        <extension>
          <name>vkCom</name>
          <path>Jukebox.Extensions.TrackProviders.VkCom.dll</path>
        </extension>
      </extensions>
    </extensionsGroup>

    <!-- Generic extensions -->
    <extensionsGroup>
      <name>interfaces</name>

      <extensions>
        <!-- Web interface. -->
        <extension>
          <name>web</name>
          <path>Jukebox.Extensions.Interfaces.Web.dll</path>
          <vars>
            <var name="title" value="Jukebox Internet Radio Station" />
            <var name="message" value="Collaboratiove Radio Station" />
            <var name="streamPath" value="http://localhost:8080/stream.mp3" />
            <var name="host" value="http://localhost:8080" />
          </vars>
        </extension>
      </extensions>
    </extensionsGroup>

  </extensionGroups>


</config>
